.fadein-images {
	position: fixed;
	top: 50px;
	display: block;
	width: 100%;
	max-width: 2500px;

	.lead-image{
		position: absolute;
	}

	.auto-height {
		max-width: inherit;
		width: auto;
	}

	#ch2-img {

	}
	#img-1 {
		z-index: 20;
	}
	#img-2 {
		z-index: 19;
	}
	#img-3 {
		z-index: 18;
	}

	.last-lead-image {
		width: 100%;
		
		#img-4 {
			z-index: 17;
		}
		#img-5{
			background-color:rgba(0,0,0,0.85);
			text-align: center;
			z-index:19;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			img{
				margin:auto;
			}
		}
	}
}
h1{
	z-index:18;
}